In [131]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [132]:
movie_df=pd.read_csv(r'dataset\movies.csv')

In [133]:
movie_df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [134]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   votes     7665 non-null   float64
 7   director  7668 non-null   object
 8   writer    7665 non-null   object
 9   star      7667 non-null   object
 10  country   7665 non-null   object
 11  budget    5497 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7651 non-null   object
 14  runtime   7664 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB

# not required columns 

votes

writer

budget

company

In [135]:
list_of_unrequired_columns=['votes','writer','budget','company','gross']

In [136]:
movie_df=movie_df.drop(columns=list_of_unrequired_columns)

In [137]:
movie_df.head()

,name,rating,genre,year,released,score,director,star,country,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,Stanley Kubrick,Jack Nicholson,United Kingdom,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,Randal Kleiser,Brooke Shields,United States,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,Irvin Kershner,Mark Hamill,United States,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,Jim Abrahams,Robert Hays,United States,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,Harold Ramis,Chevy Chase,United States,98.0

In [138]:
movie_df.shape

(7668, 10)

In [139]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   director  7668 non-null   object
 7   star      7667 non-null   object
 8   country   7665 non-null   object
 9   runtime   7664 non-null   float64
dtypes: float64(2), int64(1), object(7)
memory usage: 599.2+ KB

In [140]:
# to check null values in the dataset
movie_df.isnull().sum()

name         0
rating      77
genre        0
year         0
released     2
score        3
director     0
star         1
country      3
runtime      4
dtype: int64

In [141]:
# to check the null values in the dataset
movie_df.nunique()

name        7512
rating        12
genre         19
year          41
released    3414
score         72
director    2949
star        2814
country       59
runtime      138
dtype: int64

In [142]:
# to drop the null values rows in the dataset
movie_df.dropna(inplace=True)

In [143]:
# to again recheck the null values in the dataset
movie_df.isnull().sum()

name        0
rating      0
genre       0
year        0
released    0
score       0
director    0
star        0
country     0
runtime     0
dtype: int64

In [144]:
# the shape of the dataset after dropping the null values
movie_df.shape

(7587, 10)

In [145]:
# check the duplicates in the dataset
movie_df.duplicated().sum()

0

In [146]:
movie_df.iloc[0].genre

'Drama'

# Get only date and month in released column

In [147]:
movie_df[['released']]

                              released
0        June 13, 1980 (United States)
1         July 2, 1980 (United States)
2        June 20, 1980 (United States)
3         July 2, 1980 (United States)
4        July 25, 1980 (United States)
...                                ...
7653           April 17, 2020 (Mexico)
7655   October 1, 2020 (United States)
7656      June 3, 2020 (United States)
7658  February 7, 2020 (United States)
7659     March 3, 2020 (United States)

[7587 rows x 1 columns]

In [148]:
# Counts how many rows have null (missing) values in 'released'
movie_df['released'].isnull().sum()

0

In [149]:
# Checks if there is any missing value in 'released' (returns True/False)
movie_df['released'].isna().any()

False

In [150]:
# Counts how many duplicate entries are in 'released'
movie_df['released'].duplicated().sum()

4215

In [151]:
# If the 'released' column contains dates like "Month Day, Year", keep only the first part before the comma
movie_df['released']=movie_df['released'].str.split(',').str[0]

In [152]:
# Reverse the order of words in the 'released' column (e.g., "January 1" becomes "1 January")
movie_df['released'] = movie_df['released'].apply(lambda x: ' '.join(str(x).split()[::-1]) if pd.notnull(x) else x)

In [153]:
movie_df[['released']]

        released
0        13 June
1         2 July
2        20 June
3         2 July
4        25 July
...          ...
7653    17 April
7655   1 October
7656      3 June
7658  7 February
7659     3 March

[7587 rows x 1 columns]

In [154]:
movie_df.head()

,name,rating,genre,year,released,score,director,star,country,runtime
0,The Shining,R,Drama,1980,13 June,8.4,Stanley Kubrick,Jack Nicholson,United Kingdom,146.0
1,The Blue Lagoon,R,Adventure,1980,2 July,5.8,Randal Kleiser,Brooke Shields,United States,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,20 June,8.7,Irvin Kershner,Mark Hamill,United States,124.0
3,Airplane!,PG,Comedy,1980,2 July,7.7,Jim Abrahams,Robert Hays,United States,88.0
4,Caddyshack,R,Comedy,1980,25 July,7.3,Harold Ramis,Chevy Chase,United States,98.0

In [155]:
# Extract the day as 'released_date' (first word) and the month as 'released_month' (second word)

movie_df['released_date']=movie_df['released'].str.split(' ').str[0]
movie_df['released_month']=movie_df['released'].str.split(' ').str[1]

In [156]:
movie_df.head()

,name,rating,genre,year,released,score,director,star,country,runtime,released_date,released_month
0,The Shining,R,Drama,1980,13 June,8.4,Stanley Kubrick,Jack Nicholson,United Kingdom,146.0,13,June
1,The Blue Lagoon,R,Adventure,1980,2 July,5.8,Randal Kleiser,Brooke Shields,United States,104.0,2,July
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,20 June,8.7,Irvin Kershner,Mark Hamill,United States,124.0,20,June
3,Airplane!,PG,Comedy,1980,2 July,7.7,Jim Abrahams,Robert Hays,United States,88.0,2,July
4,Caddyshack,R,Comedy,1980,25 July,7.3,Harold Ramis,Chevy Chase,United States,98.0,25,July

In [157]:
movie_df.rename(columns={'year': 'released_year'}, inplace=True)

In [158]:
movie_df.head()

,name,rating,genre,released_year,released,score,director,star,country,runtime,released_date,released_month
0,The Shining,R,Drama,1980,13 June,8.4,Stanley Kubrick,Jack Nicholson,United Kingdom,146.0,13,June
1,The Blue Lagoon,R,Adventure,1980,2 July,5.8,Randal Kleiser,Brooke Shields,United States,104.0,2,July
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,20 June,8.7,Irvin Kershner,Mark Hamill,United States,124.0,20,June
3,Airplane!,PG,Comedy,1980,2 July,7.7,Jim Abrahams,Robert Hays,United States,88.0,2,July
4,Caddyshack,R,Comedy,1980,25 July,7.3,Harold Ramis,Chevy Chase,United States,98.0,25,July

In [159]:
movie_df['name'].isnull().sum()

0

In [160]:
# Remove spaces from director and star names to make them single words (e.g., "Steven Spielberg" -> "StevenSpielberg")
movie_df['director'] = movie_df['director'].str.replace(' ', '', regex=False)
movie_df['star'] = movie_df['star'].str.replace(' ', '', regex=False)

In [161]:
movie_df.drop(columns=['rating','score','runtime','released','released_date'],inplace=True)

In [162]:
movie_df.head()

,name,genre,released_year,director,star,country,released_month
0,The Shining,Drama,1980,StanleyKubrick,JackNicholson,United Kingdom,June
1,The Blue Lagoon,Adventure,1980,RandalKleiser,BrookeShields,United States,July
2,Star Wars: Episode V - The Empire Strikes Back,Action,1980,IrvinKershner,MarkHamill,United States,June
3,Airplane!,Comedy,1980,JimAbrahams,RobertHays,United States,July
4,Caddyshack,Comedy,1980,HaroldRamis,ChevyChase,United States,July

In [163]:
movie_df['released_month'].dtype

dtype('O')

In [164]:
movie_df['released_month'].dtype.kind in 'iufc'

False

In [165]:
# Combine 'genre', 'director', 'star', and 'released_month' into a single 'tags' column, separated by spaces
movie_df['tags'] = movie_df[['genre', 'director', 'star', 'released_month']].agg(' '.join, axis=1)

In [166]:
movie_df.head()

,name,genre,released_year,director,star,country,released_month,tags
0,The Shining,Drama,1980,StanleyKubrick,JackNicholson,United Kingdom,June,Drama StanleyKubrick JackNicholson June
1,The Blue Lagoon,Adventure,1980,RandalKleiser,BrookeShields,United States,July,Adventure RandalKleiser BrookeShields July
2,Star Wars: Episode V - The Empire Strikes Back,Action,1980,IrvinKershner,MarkHamill,United States,June,Action IrvinKershner MarkHamill June
3,Airplane!,Comedy,1980,JimAbrahams,RobertHays,United States,July,Comedy JimAbrahams RobertHays July
4,Caddyshack,Comedy,1980,HaroldRamis,ChevyChase,United States,July,Comedy HaroldRamis ChevyChase July

In [167]:
movie_df['tags']=movie_df['tags'].str.lower()

In [168]:
movie_df.drop(columns=['genre','director','star','released_month'],inplace=True)

In [169]:
movie_df.head()

,name,released_year,country,tags
0,The Shining,1980,United Kingdom,drama stanleykubrick jacknicholson june
1,The Blue Lagoon,1980,United States,adventure randalkleiser brookeshields july
2,Star Wars: Episode V - The Empire Strikes Back,1980,United States,action irvinkershner markhamill june
3,Airplane!,1980,United States,comedy jimabrahams roberthays july
4,Caddyshack,1980,United States,comedy haroldramis chevychase july

In [170]:
movie_df.head()

,name,released_year,country,tags
0,The Shining,1980,United Kingdom,drama stanleykubrick jacknicholson june
1,The Blue Lagoon,1980,United States,adventure randalkleiser brookeshields july
2,Star Wars: Episode V - The Empire Strikes Back,1980,United States,action irvinkershner markhamill june
3,Airplane!,1980,United States,comedy jimabrahams roberthays july
4,Caddyshack,1980,United States,comedy haroldramis chevychase july

## Vector

In [171]:
movie_df['tags'][0]

'drama stanleykubrick jacknicholson june'

In [172]:
movie_df['tags'][1]

'adventure randalkleiser brookeshields july'

In [173]:
# Import vectorizers for converting text data into numerical vectors

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

# Create a CountVectorizer object with a maximum of 5000 features and English stop words removed
cv = CountVectorizer(max_features=5000,stop_words='english')

In [174]:

# Transform the 'tags' text into a numerical array (bag-of-words model)
vector = cv.fit_transform(movie_df['tags']).toarray()

In [175]:
vector.shape

(7587, 5000)

In [176]:
cv.get_feature_names_out()

array(['1982', '1985', '1990', ..., 'éliechouraqui', 'émiliedequenne',
       'éricrohmer'], dtype=object)

In [177]:
import nltk

In [178]:
# Import NLTK's PorterStemmer for stemming words (reducing words to their root form)
from nltk.stem import PorterStemmer
Ps = PorterStemmer()

In [179]:
def stem(text):
    y = []
    for i in text.split():
        y.append(Ps.stem(i))
    return " ".join(y)

In [180]:
stem('drama stanleykubrick jacknicholson june')

'drama stanleykubrick jacknicholson june'

In [181]:
movie_df['tags']=movie_df['tags'].apply(stem)

In [182]:
# Import cosine similarity function to measure similarity between movies
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [183]:
similarity.shape

(7587, 7587)

In [184]:
similarity[1]

array([0., 1., 0., ..., 0., 0., 0.])

In [185]:
similarity[1].shape

(7587,)

In [186]:
# Define a function to recommend similar movies based on cosine similarity
def recommend(movie):
        # Find the index of the movie in the DataFrame

    index = movie_df[movie_df['name'] == movie].index[0]
    
     # Get similarity scores for this movie, sorted in descending order
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    
     # Print the names of the top 5 most similar movies (excluding the movie itself)
    for i in distances[1:6]:
        print(movie_df['name'].iloc[i[0]])
        # print(i)  # Uncomment to see index and similarity score

In [187]:
recommend('The Shining')

Wolf
Son of Saul
The Last Black Man in San Francisco
The Best of Youth
Once

In [188]:
recommend('The Best of Youth')

License to Wed
Oh Heavenly Dog
Electric Dreams
The Heavenly Kid
The Girl in the Picture

In [189]:
recommend('The Dark Knight')

Oliver & Company
Heidi's Song
Starchaser: The Legend of Orin
The Rescuers Down Under
An American Tail: Fievel Goes West

In [190]:
import pickle

In [191]:
# Save the movie DataFrame as a dictionary and the similarity matrix using pickle for later use
pickle.dump(movie_df.to_dict(),open('movie_list.pkl','wb'))

In [192]:
movie_df.to_dict()

{'name': {0: 'The Shining',
  1: 'The Blue Lagoon',
  2: 'Star Wars: Episode V - The Empire Strikes Back',
  3: 'Airplane!',
  4: 'Caddyshack',
  5: 'Friday the 13th',
  6: 'The Blues Brothers',
  7: 'Raging Bull',
  8: 'Superman II',
  9: 'The Long Riders',
  10: 'Any Which Way You Can',
  11: 'The Gods Must Be Crazy',
  12: 'Popeye',
  13: 'Ordinary People',
  14: 'Dressed to Kill',
  15: 'Somewhere in Time',
  16: 'Fame',
  17: '9 to 5',
  18: 'The Fog',
  19: 'Stir Crazy',
  20: 'Cruising',
  21: "Heaven's Gate",
  22: 'The Final Countdown',
  23: 'Xanadu',
  24: 'Urban Cowboy',
  25: 'Altered States',
  26: 'Little Darlings',
  27: 'Raise the Titanic',
  28: 'Brubaker',
  29: 'American Gigolo',
  30: 'My Bodyguard',
  31: 'Prom Night',
  32: 'Smokey and the Bandit II',
  33: 'Cattle Annie and Little Britches',
  34: 'Seems Like Old Times',
  35: 'Private Benjamin',
  36: 'The Hollywood Knights',
  37: 'Motel Hell',
  38: 'The Jazz Singer',
  39: "Coal Miner's Daughter",
  40: 'The Watcher in the Woods',
  41: 'Breaker Morant',
  42: 'The Stunt Man',
  43: 'Where the Buffalo Roam',
  44: 'The Awakening',
  45: "Cheech and Chong's Next Movie",
  46: 'The Island',
  47: 'The Boogey Man',
  48: 'The Nude Bomb',
  49: 'Lion of the Desert',
  50: 'Stardust Memories',
  51: 'Melvin and Howard',
  52: "Can't Stop the Music",
  53: 'Bronco Billy',
  54: 'City of Women',
  55: 'The Private Eyes',
  56: 'When Time Ran Out...',
  57: 'Oh Heavenly Dog',
  58: 'The Octagon',
  59: 'Hangar 18',
  60: 'Herbie Goes Bananas',
  61: 'The Competition',
  62: "It's My Turn",
  63: 'Honeysuckle Rose',
  64: 'Resurrection',
  65: 'Fatso',
  66: 'Moscow Does Not Believe in Tears',
  67: 'The Fiendish Plot of Dr. Fu Manchu',
  68: 'Serial',
  69: 'Hero at Large',
  70: 'Wholly Moses!',
  71: "Bon Voyage, Charlie Brown (and Don't Come Back!!)",
  72: 'In God We Trust (or Gimme That Prime Time Religion)',
  73: 'Roadie',
  74: 'Just Tell Me What You Want',
  75: "The Last Flight of Noah's Ark",
  76: 'Little Miss Marker',
  77: 'Willie & Phil',
  79: 'Windwalker',
  80: 'Phobia',
  81: 'Windows',
  82: 'Loving Couples',
  83: 'The King and the Mockingbird',
  84: 'Oh, God! Book II',
  85: 'Those Lips, Those Eyes',
  86: 'La Cage aux Folles II',
  87: 'The Gong Show Movie',
  88: 'Gilda Live',
  89: 'Why Would I Lie?',
  90: 'First Family',
  92: 'Indiana Jones and the Raiders of the Lost Ark',
  93: 'Body Heat',
  94: 'An American Werewolf in London',
  95: 'Escape from New York',
  96: 'The Evil Dead',
  97: "Porky's",
  98: 'Blow Out',
  99: 'Clash of the Titans',
  100: 'Excalibur',
  101: 'Mad Max 2',
  103: 'Stripes',
  104: 'Possession',
  105: 'The Cannonball Run',
  106: 'Thief',
  107: 'Endless Love',
  108: 'Time Bandits',
  109: 'The Four Seasons',
  110: 'Friday the 13th Part 2',
  111: 'Scanners',
  112: 'For Your Eyes Only',
  113: 'Halloween II',
  114: 'Taps',
  115: 'Reds',
  116: 'On Golden Pond',
  117: 'The Fox and the Hound',
  118: 'Chariots of Fire',
  119: 'Absence of Malice',
  120: 'Tarzan the Ape Man',
  121: 'Victory',
  122: 'Arthur',
  123: 'My Dinner with Andre',
  124: 'Caveman',
  125: 'Dead & Buried',
  126: 'History of the World: Part I',
  127: 'The Howling',
  128: 'Dragonslayer',
  129: "Cutter's Way",
  130: 'Quest for Fire',
  131: 'The Final Conflict',
  132: 'Mommie Dearest',
  133: 'Private Lessons',
  134: 'The Postman Always Rings Twice',
  135: 'Ragtime',
  136: 'Deadly Blessing',
  137: 'Eyewitness',
  138: 'Gallipoli',
  139: 'Outland',
  140: 'Southern Comfort',
  141: 'S.O.B.',
  142: 'The Beyond',
  143: 'Ghost Story',
  144: 'My Bloody Valentine',
  145: 'The Funhouse',
  146: 'One from the Heart',
  147: "The French Lieutenant's Woman",
  148: 'The Great Muppet Caper',
  149: 'True Confessions',
  150: 'Looker',
  151: 'Nighthawks',
  152: 'Nice Dreams',
  153: "Sharky's Machine",
  154: 'Neighbors',
  155: 'Puberty Blues',
  156: 'Eye of the Needle',
  157: 'Wolfen',
  158: 'Student Bodies',
  159: 'Prince of the City',
  160: 'The Hand',
  161: 'Continental Divide',
  162: 'Diva',
  163: 'Venom',
  164: 'Fort Apache the Bronx',
  165: 'Eyes of a Stranger',
  166: 'Zorro: The Gay Blade',
  167: 'Under the Rainbow',
  168: 'Carbon Copy',
  169: 'The Incredible Shrinking Woman',
  170: 'The Night the Lights Went Out in Georgia',
  171: 'Quartet',
  172: 'Graduation Day',
  173: 'Modern Problems',
  174: 'Pennies from Heaven',
  175: 'American Pop',
  176: 'The Legend of the Lone Ranger',
  177: 'Sphinx',
  178: 'Night School',
  179: 'An Eye for an Eye',
  180: 'Zoot Suit',
  181: 'Rich and Famous',
  182: 'Buddy Buddy',
  183: "Bustin' Loose",
  184: 'Modern Romance',
  185: 'Heartbeeps',
  186: 'Back Roads',
  187: 'Take This Job and Shove It',
  188: 'Raggedy Man',
  189: 'Whose Life Is It Anyway?',
  190: 'Inchon',
  191: 'All Night Long',
  192: 'The Pursuit of D.B. Cooper',
  193: 'Rollover',
  194: 'Only When I Laugh',
  195: 'Honky Tonk Freeway',
  196: 'Paternity',
  197: 'King of the Mountain',
  198: 'Scream',
  199: 'The Devil and Max Devlin',
  200: 'The Amateur',
  201: 'Longshot',
  202: "Comin' at Ya!",
  203: 'Le Pont du Nord',
  204: 'Silence of the North',
  205: 'Fast Times at Ridgemont High',
  206: 'Blade Runner',
  207: 'The Thing',
  208: 'Conan the Barbarian',
  209: 'E.T. the Extra-Terrestrial',
  210: 'First Blood',
  211: 'An Officer and a Gentleman',
  212: 'Grease 2',
  213: 'Annie',
  214: 'Poltergeist',
  215: '48 Hrs.',
  216: 'Star Trek II: The Wrath of Khan',
  217: 'Paradise',
  218: 'The Last American Virgin',
  219: "Sophie's Choice",
  220: 'Gandhi',
  221: 'Tootsie',
  222: 'Tron',
  223: 'The Secret of NIMH',
  224: 'The King of Comedy',
  225: 'Rocky III',
  226: 'The Beastmaster',
  227: 'Creepshow',
  228: 'The Man from Snowy River',
  229: 'Pink Floyd: The Wall',
  230: 'Cat People',
  231: 'Fanny and Alexander',
  232: 'Friday the 13th Part III',
  233: 'Firefox',
  234: 'Halloween III: Season of the Witch',
  235: 'The Dark Crystal',
  236: 'The Verdict',
  237: 'Pieces',
  238: 'Zapped!',
  239: 'Six Pack',
  240: 'The World According to Garp',
  241: 'Diner',
  242: 'The Best Little Whorehouse in Texas',
  243: 'The Year of Living Dangerously',
  244: 'Night Shift',
  245: 'Summer Lovers',
  246: 'Victor Victoria',
  247: 'The Last Unicorn',
  248: 'The Entity',
  249: 'Airplane II: the Sequel',
  250: 'The Toy',
  251: 'The House on Sorority Row',
  252: 'Evil Under the Sun',
  253: 'The Sword and the Sorcerer',
  254: 'Death Wish II',
  255: 'Silent Rage',
  256: 'Megaforce',
  257: 'Personal Best',
  258: "Dead Men Don't Wear Plaid",
  259: 'Amityville II: The Possession',
  260: 'Missing',
  261: 'Frances',
  262: 'The Seduction',
  263: 'Cannery Row',
  264: 'Deathtrap',
  265: 'Tex',
  266: 'Time Walker',
  267: 'I, the Jury',
  268: 'Tempest',
  269: 'Young Doctors in Love',
  270: 'My Favorite Year',
  271: 'Still of the Night',
  272: 'Parasite',
  273: 'Making Love',
  274: 'Honkytonk Man',
  275: 'The Beast Within',
  276: 'Come Back to the 5 & Dime Jimmy Dean, Jimmy Dean',
  277: 'The Final Option',
  278: 'Trail of the Pink Panther',
  279: 'The Sender',
  280: 'The Border',
  281: 'Kiss Me Goodbye',
  282: "A Midsummer Night's Sex Comedy",
  283: 'Vice Squad',
  284: 'Best Friends',
  285: 'Shoot the Moon',
  286: "Lookin' to Get Out",
  287: 'Barbarosa',
  288: 'Visiting Hours',
  289: 'A Little Sex',
  290: 'Class Reunion',
  291: 'Hanky Panky',
  292: 'Author! Author!',
  293: 'Split Image',
  294: 'The Challenge',
  295: 'The Soldier',
  296: 'Wrong Is Right',
  297: 'Six Weeks',
  299: 'Jekyll and Hyde... Together Again',
  300: 'Forced Vengeance',
  301: 'The Missionary',
  302: 'The Escape Artist',
  303: 'Night Crossing',
  304: 'Endangered Species',
  305: 'Things Are Tough All Over',
  306: 'Homework',
  307: 'Jinxed!',
  308: 'The Return of Martin Guerre',
  309: 'They Call Me Bruce',
  310: 'Some Kind of Hero',
  311: 'Hammett',
  312: 'Five Days One Summer',
  313: 'Penitentiary II',
  314: 'If You Could See What I Hear',
  315: 'Partners',
  316: 'Richard Pryor: Live on the Sunset Strip',
  317: "Bugs Bunny's 3rd Movie: 1001 Rabbit Tales",
  318: 'Monsignor',
  319: 'Yes, Giorgio',
  320: 'I Ought to Be in Pictures',
  321: 'La traviata',
  322: 'Fighting Back',
  323: 'Kamikaze 89',
  324: 'The Wizard of Oz',
  325: "Heidi's Song",
  326: 'Love Child',
  327: 'Boardinghouse',
  328: 'Experience Preferred... But Not Essential',
  329: 'The Personals',
  330: 'Lonely Hearts',
  331: 'Scarface',
  332: 'The Outsiders',
  333: 'Star Wars: Episode VI - Return of the Jedi',
  334: 'Risky Business',
  335: "National Lampoon's Vacation",
  336: 'Trading Places',
  337: 'Superman III',
  338: 'The Big Chill',
  339: 'Staying Alive',
  340: 'Jaws 3-D',
  341: 'Christine',
  342: 'Sleepaway Camp',
  343: 'Flashdance',
  344: 'WarGames',
  345: 'The Right Stuff',
  346: 'Krull',
  347: 'Spring Break',
  348: 'The Dead Zone',
  349: 'Octopussy',
  350: 'Private School',
  351: 'Valley Girl',
  352: 'Rumble Fish',
  353: 'Videodrome',
  354: 'Terms of Endearment',
  355: 'Twilight Zone: The Movie',
  356: 'Never Say Never Again',
  357: 'A Christmas Story',
  358: 'Cujo',
  359: 'Sudden Impact',
  360: 'The Hunger',
  361: 'Mr. Mom',
  362: 'Blue Thunder',
  363: 'Breathless',
  364: 'Psycho II',
  365: 'Local Hero',
  366: 'Bad Boys',
  367: 'Silkwood',
  368: 'All the Right Moves',
  369: 'The Keep',
  370: 'My Tutor',
  371: 'Yentl',
  372: 'Fire and Ice',
  373: 'Eddie and the Cruisers',
  374: 'Yellowbeard',
  375: 'The Meaning of Life',
  376: 'Nostalghia',
  377: 'Hot Dog... The Movie',
  378: 'Smokey and the Bandit Part 3',
  379: 'Deathstalker',
  380: "Porky's II: The Next Day",
  381: 'Something Wicked This Way Comes',
  382: 'Tender Mercies',
  383: 'Star 80',
  384: 'Gorky Park',
  385: 'Lone Wolf McQuade',
  386: 'Easy Money',
  387: 'Merry Christmas Mr. Lawrence',
  388: "Losin' It",
  389: 'Screwballs',
  390: 'Brainstorm',
  391: 'The Man with Two Brains',
  392: 'Angel',
  393: '10 to Midnight',
  394: 'Uncommon Valor',
  395: 'Doctor Detroit',
  396: 'Mortuary',
  397: 'Stroker Ace',
  398: 'Sahara',
  399: 'Two of a Kind',
  400: 'Chained Heat',
  401: 'Spacehunter: Adventures in the Forbidden Zone',
  402: 'High Road to China',
  403: 'Never Cry Wolf',
  404: 'The Pirates of Penzance',
  405: 'Rock & Rule',
  406: 'Hercules',
  407: 'Educating Rita',
  408: 'A Night in Heaven',
  409: 'Under Fire',
  410: 'Amityville 3-D',
  411: 'Testament',
  412: 'The Osterman Weekend',
  413: 'Revenge of the Ninja',
  414: 'Zelig',
  415: 'Independence Day',
  416: 'Escape from the Bronx',
  417: 'To Be or Not to Be',
  418: 'Eureka',
  419: 'The Wicked Lady',
  420: 'Still Smokin',
  421: 'Yor, the Hunter from the Future',
  422: 'Of Unknown Origin',
  423: 'Curse of the Pink Panther',
  424: 'D.C. Cab',
  425: 'Beyond the Limit',
  426: 'The Survivors',
  427: 'The Lonely Lady',
  428: 'The Star Chamber',
  429: 'The Dresser',
  430: 'The Lords of Discipline',
  431: 'Cross Creek',
  432: 'The Man Who Loved Women',
  433: 'Nightmares',
  434: 'Deal of the Century',
  435: "Eddie Macon's Run",
  436: 'Max Dugan Returns',
  437: 'The Sting II',
  438: "Baby It's You",
  439: 'Heat and Dust',
  440: 'Going Berserk',
  441: 'Daniel',
  442: 'Heart Like a Wheel',
  443: 'Love Letters',
  444: 'Get Crazy',
  445: 'Nate and Hayes',
  446: 'Strange Invaders',
  447: 'The Black Stallion Returns',
  448: 'Metalstorm: the Destruction of Jared-Syn',
  449: 'Getting It on',
  450: 'Lianna',
  451: 'Better Late Than Never',
  452: 'Lovesick',
  453: 'Running Brave',
  454: 'Exposed',
  455: 'Trenchcoat',
  456: 'Stryker',
  457: "The Man Who Wasn't There",
  458: 'Table for Five',
  459: 'Romantic Comedy',
  460: 'Young Warriors',
  461: 'Man, Woman and Child',
  462: 'Hanna K.',
  463: 'Slayground',
  465: 'Richard Pryor... Here and Now',
  466: 'Deadly Force',
  467: "My Brother's Wedding",
  468: 'Blue Skies Again',
  469: 'Last Plane Out',
  470: 'Cross Country',
  471: 'A Polish Vampire in Burbank',
  472: 'Forever Young',
  473: 'The Golden Seal',
  475: 'The Terminator',
  476: 'Dune',
  477: 'Ghostbusters',
  478: 'The Karate Kid',
  479: 'Once Upon a Time in America',
  480: 'Police Academy',
  481: 'Indiana Jones and the Temple of Doom',
  482: 'Body Double',
  483: 'A Nightmare on Elm Street',
  484: 'Amadeus',
  485: 'Beverly Hills Cop',
  486: 'Red Dawn',
  487: 'The NeverEnding Story',
  488: 'Footloose',
  489: 'Revenge of the Nerds',
  490: 'Gremlins',
  491: 'Romancing the Stone',
  492: 'Streets of Fire',
  493: 'Sixteen Candles',
  494: 'Paris, Texas',
  495: 'This Is Spinal Tap',
  496: '1984',
  497: 'Top Secret!',
  498: 'Conan the Destroyer',
  499: 'Children of the Corn',
  500: 'The Last Starfighter',
  501: 'Splash',
  502: 'Blood Simple',
  503: 'The Natural',
  504: 'Bachelor Party',
  506: 'Friday the 13th: the Final Chapter',
  507: 'Hardbodies',
  508: 'Against All Odds',
  509: 'Supergirl',
  510: 'The Bounty',
  511: 'Firestarter',
  512: 'C.H.U.D.',
  513: 'The Woman in Red',
  514: 'Runaway',
  515: 'The Adventures of Buckaroo Banzai Across the 8th Dimension',
  516: 'Star Trek III: The Search for Spock',
  517: 'Repo Man',
  518: '2010: the Year We Make Contact',
  519: 'The Killing Fields',
  520: 'The Cotton Club',
  521: 'Starman',
  522: 'Night of the Comet',
  523: 'Blame It on Rio',
  524: 'Dreamscape',
  525: 'Crimes of Passion',
  526: 'The Philadelphia Experiment',
  527: 'Places in the Heart',
  528: 'Bolero',
  529: 'Cannonball Run II',
  530: 'Stranger Than Paradise',
  531: 'The Ice Pirates',
  532: 'A Passage to India',
  533: 'Purple Rain',
  534: 'The Hotel New Hampshire',
  535: 'The Hit',
  536: 'Sheena',
  537: 'Missing in Action',
  538: 'Greystoke: The Legend of Tarzan, Lord of the Apes',
  539: 'The Muppets Take Manhattan',
  540: 'The Wild Life',
  541: 'Falling in Love',
  542: 'Gwendoline',
  543: "Breakin'",
  544: 'Birdy',
  545: 'The Company of Wolves',
  546: 'Ghoulies',
  547: 'Electric Dreams',
  548: 'Cloak & Dagger',
  549: 'Racing with the Moon',
  550: 'Silent Night, Deadly Night',
  551: 'The Pope of Greenwich Village',
  552: 'All of Me',
  553: 'Grandview, U.S.A.',
  554: 'Where the Boys Are',
  555: 'Reckless',
  556: 'Tightrope',
  557: 'Rhinestone',
  558: 'The Flamingo Kid',
  559: 'Up the Creek',
  560: 'Swing Shift',
  561: 'Beat Street',
  562: 'Joy of Sex',
  563: "Breakin' 2: Electric Boogaloo",
  564: "The Razor's Edge",
  565: 'Tank',
  566: 'Moscow on the Hudson',
  567: 'Ninja III: The Domination',
  568: 'The Warrior and the Sorceress',
  569: 'The Evil That Men Do',
  570: 'Firstborn',
  571: 'Cut and Run',
  572: 'Teachers',
  573: 'Repentance',
  574: 'The River',
  575: 'Razorback',
  576: "A Soldier's Story",
  577: 'Comfort and Joy',
  578: 'Meatballs Part II',
  579: 'Lassiter',
  580: 'Irreconcilable Differences',
  581: 'City Heat',
  582: 'Under the Volcano',
  583: 'Iceman',
  584: 'Flashpoint',
  585: 'The Little Drummer Girl',
  586: 'Lust in the Dust',
  587: 'Hot Moves',
  588: 'Oxford Blues',
  589: 'Thief of Hearts',
  590: 'The Brother from Another Planet',
  591: 'No Small Affair',
  592: 'Broadway Danny Rose',
  593: 'Best Defense',
  594: 'Micki + Maude',
  595: 'Protocol',
  596: 'Exterminator 2',
  597: 'American Dreamer',
  598: 'The Lonely Guy',
  599: 'Choose Me',
  600: 'Making the Grade',
  601: 'Full Moon in Paris',
  602: 'Unfaithfully Yours',
  603: 'Impulse',
  604: 'Mrs. Soffel',
  605: 'Garbo Talks',
  606: 'Country',
  607: "Cheech & Chong's the Corsican Brothers",
  608: 'Purple Hearts',
  609: 'Give My Regards to Broad Street',
  610: 'Songwriter',
  611: 'Finders Keepers',
  612: 'The Bostonians',
  613: 'Body Rock',
  614: 'The River Rat',
  615: 'Just the Way You Are',
  616: 'Until September',
  617: 'Crackers',
  618: 'Kaos',
  619: 'Misunderstood',
  620: "Mike's Murder",
  621: 'The Buddy System',
  622: 'A Private Function',
  623: 'Scandalous',
  624: 'Oh, God! You Devil',
  625: 'The Bay Boy',
  626: 'Heavenly Bodies',
  627: 'Heartbreakers',
  628: 'Champions',
  629: 'A Sunday in the Country',
  630: 'Mass Appeal',
  631: 'Windy City',
  632: 'Lovelines',
  633: 'The Bear',
  634: 'Weekend Pass',
  635: 'Over the Brooklyn Bridge',
  636: 'Fast Talking',
  637: 'Lily in Love',
  639: 'Almost You',
  640: 'The Adventures of Pinocchio',
  641: 'Blame It on the Night',
  642: 'Petit Con',
  643: 'Weird Science',
  644: 'The Goonies',
  645: 'Back to the Future',
  646: 'To Live and Die in L.A.',
  647: 'Clue',
  648: 'The Breakfast Club',
  649: 'Cocoon',
  650: 'Rambo: First Blood Part II',
  651: 'Mask',
  652: 'Legend',
  653: 'The Return of the Living Dead',
  654: "St. Elmo's Fire",
  655: 'Brazil',
  656: 'Pale Rider',
  657: 'Teen Wolf',
  658: 'Real Genius',
  659: 'Commando',
  660: 'Witness',
  661: 'The Color Purple',
  662: 'Silverado',
  663: 'Rocky IV',
  664: 'Better Off Dead...',
  665: 'Ran',
  666: 'Ladyhawke',
  667: 'A Room with a View',
  668: 'Red Sonja',
  669: 'Fright Night',
  670: 'Explorers',
  671: 'Flesh+Blood',
  672: 'Mad Max Beyond Thunderdome',
  673: 'After Hours',
  674: 'A View to a Kill',
  675: 'Fletch',
  676: 'Perfect',
  677: "A Nightmare on Elm Street 2: Freddy's Revenge",
  678: 'Summer Rental',
  679: 'Lifeforce',
  680: "Pee-wee's Big Adventure",
  681: 'Out of Africa',
  682: 'Day of the Dead',
  683: 'Just One of the Guys',
  684: "National Lampoon's European Vacation",
  685: 'Spies Like Us',
  686: 'House',
  687: 'Police Academy 2: Their First Assignment',
  688: 'The Black Cauldron',
  689: 'Friday the 13th: A New Beginning',
  690: 'Runaway Train',
  691: 'Re-Animator',
  692: "Brewster's Millions",
  693: 'The Last Dragon',
  694: 'The Legend of Billie Jean',
  695: 'Desperately Seeking Susan',
  696: 'Girls Just Want to Have Fun',
  697: 'Vision Quest',
  698: 'Jagged Edge',
  699: 'Enemy Mine',
  700: 'Tuff Turf',
  701: 'Volunteers',
  702: 'The Jewel of the Nile',
  703: 'Once Bitten',
  704: 'Private Resort',
  705: 'Police Story',
  706: 'Into the Night',
  707: 'The Sure Thing',
  708: 'White Nights',
  709: 'Mischief',
  710: 'Silver Bullet',
  711: 'Kiss of the Spider Woman',
  712: 'My Beautiful Laundrette',
  713: 'Young Sherlock Holmes',
  714: 'Smooth Talk',
  715: "Porky's Revenge",
  716: 'Year of the Dragon',
  717: "Prizzi's Honor",
  718: 'The Quiet Earth',
  719: 'Tampopo',
  720: 'Creature',
  721: 'Secret Admirer',
  722: 'No Retreat, No Surrender',
  723: 'D.A.R.Y.L.',
  724: 'Mishima: A Life in Four Chapters',
  725: 'A Chorus Line',
  726: "Cat's Eye",
  727: "Murphy's Romance",
  728: 'Heaven Help Us',
  729: 'American Flyers',
  730: 'The Journey of Natty Gann',
  731: 'Trouble in Mind',
  732: 'Fandango',
  733: 'Gotcha!',
  734: 'Death Wish 3',
  735: "King Solomon's Mines",
  736: 'American Warrior',
  737: 'The Emerald Forest',
  738: 'The Holcroft Covenant',
  739: 'The Falcon and the Snowman',
  740: 'Transylvania 6-5000',
  741: 'Desert Hearts',
  742: 'The Heavenly Kid',
  743: 'The Purple Rose of Cairo',
  744: 'The Man with One Red Shoe',
  745: 'My Life as a Dog',
  746: 'My Science Project',
  747: 'Seven Minutes in Heaven',
  748: 'Fraternity Vacation',
  749: 'The New Kids',
  750: 'Tomboy',
  751: 'Invasion U.S.A.',
  752: 'Revolution',
  753: 'Lost in America',
  754: 'Subway',
  755: 'Moving Violations',
  756: 'Nomads',
  757: 'Fool for Love',
  758: 'Baby: Secret of the Lost Legend',
  759: 'Code of Silence',
  760: 'Crimewave',
  761: 'Gymkata',
  762: 'Sweet Dreams',
  763: "The Slugger's Wife",
  764: 'Avenging Angel',
  765: 'Santa Claus: The Movie',
  766: 'That Was Then... This Is Now',
  767: 'Agnes of God',
  768: "Rustlers' Rhapsody",
  769: 'The Adventures of Mark Twain',
  770: 'Stick',
  771: 'The Bride',
  772: 'Morons from Outer Space',
  773: 'Godzilla 1985',
  774: 'Plenty',

In [193]:
pickle.dump(similarity,open('similarity.pkl','wb'))